.tasks-details{
    color: #fff;
    border: none;
    height: 20%;
    border-radius: 0px 0px 10px 10px;
    background: #FF7044;
    position:relative;
    text-align: center;
    font-size: 25px;
    cursor: pointer;
    margin-bottom: 30%;

}