
.reg-form{
    border: 1px solid rgb(241, 234, 234);
    width : 45%;
    margin-left : 25%;
    margin-top: 2%;
    padding : 5%;
    border-radius: 10px;
 }

 .reg-form input{
     margin-top: 25px;
     padding : 5px;
     border: 1px solid gray;
     border-radius: 5px;
     width: 300px;
 }
 .reg-button{
    width: 100px;
    height: 45px; 

}
 .error{
     color:red;
 }