.search-box{
    width: 28%;
    padding: 13px;
    border: 1px solid rgb(224, 220, 220);
    border-radius: 10px 0px 0px 10px;
    font-size: 15px;
}

.search{
    width: 9%;
    padding: 14px;
    border-radius: 0px 10px 10px 0px;
    margin-left: -4px;


}